{% extends "base.html" %}
{% load static %}
{% load humanize %}
{% block content %}


    <!-- Hero Section -->
    <section class="hero-section">
        <div class="container text-center pt-5 mt-5">
            <img src="{% static 'img/' %}VRHlogo.png" width="100" alt="">
            <h1 class="display-4 mb-3">Vinyl Record Home</h1>
            <p class="lead">Where Every Groove Feels Like Home</p>
        </div>
    </section>

    <!-- Content -->
    <div class="container-fluid p-0">
        <h1 class="display-4 bg-light p-5" id="projectAnchor">
            Female Artists
        </h1>
        
        <!-- Records -->
        <div class="card-deck p-5">
            <div class="card">
                <a href="#"><img class="card-img-top" src="{% static 'img/' %}projects/projects-macbook-stats.jpg" alt=""></a>
                <div class="card-body">
                    <h3 class="card-title">
                        Record 1
                    </h3>
                    <p class="card-text">
                        <h5>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eos, eveniet.</h5>
                    </p>
                </div>
            </div>

            <div class="card">
                <a href="#"><img class="card-img-top" src="{% static 'img/' %}projects/projects-coding-sunset.jpg" alt=""></a>
                <div class="card-body">
                    <h3 class="card-title">
                        Record 2
                    </h3>
                    <p class="card-text">
                        <h5>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eos, eveniet.</h5>
                    </p>
                </div>
            </div>

            <div class="card">
                <a href="#"><img class="card-img-top" src="{% static 'img/' %}projects/projects-hello-world.jpg" alt=""></a>
                <div class="card-body">
                    <h3 class="card-title">
                        Record 3
                    </h3>
                    <p class="card-text">
                        <h5>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eos, eveniet.</h5>
                    </p>
                </div>
            </div>
        </div>

        <div class="card-deck p-5">
            <div class="card">
                <a href="#"><img class="card-img-top" src="{% static 'img/' %}projects/projects-retro-computer.jpg" alt=""></a>
                <div class="card-body">
                    <h3 class="card-title">
                        Record 4
                    </h3>
                    <p class="card-text">
                        <h5>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eos, eveniet.</h5>
                    </p>
                </div>
            </div>

            <div class="card">
                <a href="#"><img class="card-img-top" src="{% static 'img/' %}projects/projects-robodog.jpg" alt=""></a>
                <div class="card-body">
                    <h3 class="card-title">
                        Record 5
                    </h3>
                    <p class="card-text">
                        <h5>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eos, eveniet.</h5>
                    </p>
                </div>
            </div>

            <div class="card">
                <a href="#"><img class="card-img-top" src="{% static 'img/' %}projects/projects-robot.jpg" alt=""></a>
                <div class="card-body">
                    <h3 class="card-title">
                        Record 6
                    </h3>
                    <p class="card-text">
                        <h5>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eos, eveniet.</h5>
                    </p>
                </div>
            </div>
        </div>

        <!-- Pagination Bar -->
        <nav aria-label="Page navigation example">
            <ul class="pagination pagination-lg justify-content-center">
                <li class="page-item"><a class="page-link custom-page-link" href="#">&lt;</a></li>
                <li class="page-item active"><a class="page-link custom-page-link" href="#">1</a></li>
                <li class="page-item"><a class="page-link custom-page-link" href="#">2</a></li>
                <li class="page-item"><a class="page-link custom-page-link" href="#">3</a></li>
                <li class="page-item"><a class="page-link custom-page-link" href="#">&gt;</a></li>
            </ul>
        </nav>
    </div>

{% endblock %}