{% extends "base.html" %}
{% load static %}
{% load humanize %}
{% block content %}

    <!-- Hero Section -->
    <section class="hero-section">
        <div class="container text-center pt-5 mt-5">
            <img src="{% static 'img/' %}VRHlogo.png" width="100" alt="">
            <h1 class="display-4 mb-3">Vinyl Record Home</h1>
            <p class="lead">Where Every Groove Feels Like Home</p>
        </div>
    </section>

    <!-- Greeting Section -->
    <section class="py-5 bg-dark text-white">
        <div class="container text-center">
            <h2 class="mb-4">Ready to Start Your Vinyl Journey in Hong Kong?</h2>
            <p class="lead mb-4">Join thousands of Hong Kong music lovers who have discovered their perfect sound with us</p>
            <a href="#projectAnchor" class="btn btn-outline-light btn-lg mr-3">Browse Collection</a>
            <a href="{% url 'contact' %}" class="btn btn-light btn-lg">Visit Our Store</a>
        </div>
    </section>

    <!-- Slider Background -->
    <div class="carousel" id="mainSlide">
        <div class="carousel-inner">
            <img class="w-100 d-block" src="{% static 'img/' %}pexels-bg2.jpg" alt="">
        </div>
    </div>

    <!-- Content -->
    <div class="container-fluid mt-5 pt-5">
        <h1 class="display-4 bg-light ml-5 pl-5" id="projectAnchor">
            Explore
        </h1>
        
        <!-- Records -->
        <div class="card-deck p-5">
            <div class="card">
                <img class="card-img-top" src="{% static 'img/' %}projects/projects-macbook-stats.jpg" alt="">
                <div class="card-body">
                    <h3 class="card-title">
                        Record 1
                    </h3>
                    <p class="card-text">
                        <h5>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eos, eveniet.</h5>
                    </p>
                    <a class="btn btn-sm btn-dark h4" href="#">
                        <h6>View Product</h6>
                    </a>
                </div>
            </div>

            <div class="card">
                <img class="card-img-top" src="{% static 'img/' %}projects/projects-coding-sunset.jpg" alt="">
                <div class="card-body">
                    <h3 class="card-title">
                        Record 2
                    </h3>
                    <p class="card-text">
                        <h5>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eos, eveniet.</h5>
                    </p>
                    <a class="btn btn-sm btn-dark h4" href="#">
                        <h6>View Product</h6>
                    </a>
                </div>
            </div>

            <div class="card">
                <img class="card-img-top" src="{% static 'img/' %}projects/projects-hello-world.jpg" alt="">
                <div class="card-body">
                    <h3 class="card-title">
                        Record 3
                    </h3>
                    <p class="card-text">
                        <h5>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eos, eveniet.</h5>
                    </p>
                    <a class="btn btn-sm btn-dark h4" href="#">
                        <h6>View Product</h6>
                    </a>
                </div>
            </div>
        </div>

        <div class="card-deck p-5">
            <div class="card">
                <img class="card-img-top" src="{% static 'img/' %}projects/projects-retro-computer.jpg" alt="">
                <div class="card-body">
                    <h3 class="card-title">
                        Record 4
                    </h3>
                    <p class="card-text">
                        <h5>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eos, eveniet.</h5>
                    </p>
                    <a class="btn btn-sm btn-dark h4" href="#">
                        <h6>View Product</h6>
                    </a>
                </div>
            </div>

            <div class="card">
                <img class="card-img-top" src="{% static 'img/' %}projects/projects-robodog.jpg" alt="">
                <div class="card-body">
                    <h3 class="card-title">
                        Record 5
                    </h3>
                    <p class="card-text">
                        <h5>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eos, eveniet.</h5>
                    </p>
                    <a class="btn btn-sm btn-dark h4" href="#">
                        <h6>View Product</h6>
                    </a>
                </div>
            </div>

            <div class="card">
                <img class="card-img-top" src="{% static 'img/' %}projects/projects-robot.jpg" alt="">
                <div class="card-body">
                    <h3 class="card-title">
                        Record 6
                    </h3>
                    <p class="card-text">
                        <h5>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eos, eveniet.</h5>
                    </p>
                    <a class="btn btn-sm btn-dark h4" href="#">
                        <h6>View Product</h6>
                    </a>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

