{% extends "base.html" %}
{% load static %}
{% load humanize %}
{% block content %}


    <!-- Hero Section -->
    <section class="hero-section">
        <div class="container text-center pt-5 mt-5">
            <img src="{% static 'img/' %}VRHlogo.png" width="100" alt="">
            <h1 class="display-4 mb-3">Vinyl Recycling</h1>
            <p class="lead">Lorem ipsum dolor sit amet</p>
        </div>
    </section>

    <!-- Slider Background -->
    <div class="carousel" id="mainSlide">
        <div class="carousel-inner">
            <img class="w-100 d-block" src="{% static 'img/' %}pexels-bg2.jpg" alt="">
        </div>
    </div>

    <!-- Content -->
    <div class="container-fluid p-0">
        <h3 class="bg-light p-5 text-center" id="projectAnchor">
            Vinyl Recycling <i class="fa-solid fa-recycle fa-xl" style="color: #81e665"></i>
        </h3>
    </div>

    <div class="container p-5 text-justify">
        <h4>1. Introduction to Vinyl Recycling</h4>
        <p>
        Vinyl recycling is an eco-friendly process that repurposes old or damaged vinyl records, reducing waste and environmental impact. By recycling vinyl, online stores can promote sustainability while offering unique products made from reclaimed materials.
        </p><br>
        
        <h4>2. Benefits of Vinyl Recycling</h4>
        <p>
        Recycled vinyl can be transformed into new records, decorative art, or accessories, catering to eco-conscious consumers. This not only enhances brand reputation but also attracts customers who value sustainability.   
        </p><br>

        <h4>3. How Vinyl Recycling Works</h4>
        <p>
        Additionally, recycling reduces production costs by utilizing existing materials instead of new ones. Vinyl online stores can stand out in the market by supporting green initiatives, reinforcing their commitment to both music and environmental responsibility.
        </p><br>
        
    </div>

{% endblock %}